%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
%viajes{
    height: 400px;
    width: 350px;
}
.color-fondo{
    background-color: map-get($colores, fondo );
}

.estilo-itinerarios{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .boton-pv{
        width:200px;
        height:200px;
        background-color:rgb(182, 156, 117);
        margin: 5px;
        padding:10px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        font-size:11px;
        line-height:32px;
        text-transform: uppercase;
        float:left;
        @extend %flex-center;
        a{
            color: aliceblue;
        }
    }
    h2{
        color:#80461d;
    }
    p{
        text-align:justify ;
    }
} 
.estilo-entrevistas{
    height: 200px;
    width: 100%;
    @extend %flex-center;
    flex-direction: column;
    .boton-ent-sob{
        width:100px;
        height:100px;
        background-color:rgb(182, 156, 117);
        margin: 5px;
        padding:10px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 100px;
        font-size:11px;
        line-height:32px;
        text-transform: uppercase;
        float:left;
        @extend %flex-center;
      }
      .texto-entrevista{
        height: 100px;
        width: 100%;
        @extend %flex-center;
        flex-direction: column;
        text-align: center;
      }
  }