footer{
    height: 35px;
    grid-area: footer;
    background-color: #7C9070;
    color: aliceblue;
    @extend %flex-center;
    align-content: center;
    p{
        height: 15px;
        font-size: 10px;
        @extend %flex-center;
        align-content: center;
    }
}