main{
    .article{
        .section-contacto{
            width: 100%;
            height: 100%;
            @extend %flex-center;
            align-content: space-evenly ;
            .titulo-contacto{
                height: 60px;
                width: 100%;
                margin-top: 30px;
                margin-block-end: 45px;
                @extend %flex-center;
                background-color: rgba(224, 170, 119, 0.3);
                .h1-contacto{
                    width: 200px;
                    font-size: 30px;
                    padding: 0px;
                    margin: 0px;
                    text-align: center;
                }
            }
            .medios-contacto{
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center
                ;
                .link-cont-personal{
                    height: 400px;
                    width: 400px;
                    margin-block-end: 45px;
                    @extend %flex-center;
                    flex-direction: column;
                    background-color: rgba(32, 38, 121, 0.1);
                    .titulo-personal{
                        height: 70px;
                        width: 200px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-direction: row;
                        background-color: rgba(224, 170, 119, 0.3);
                        h2{
                            font-size: 15px;
                            height: 70px;
                            width: 200px;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            flex-direction: row;
                            background-color: rgba(224, 170, 119, 0.3);
                        }
                    }
                    .link-cont-pers-b{
                        height: 180px;
                        width: 250px;
                        @extend %flex-center-evenly;
                        flex-direction: column;
                    }
                }
                .link-redes-sociales{
                    height: 400px;
                    width: 400px;
                    margin-block-end: 45px;
                    @extend %flex-center;
                    align-content: center;
                    flex-direction: column;
                    background-color: rgba(32, 38, 121, 0.1);
                    ul{
                        height: 400px;
                        width: 100%;
                        padding: 0px;
                        @extend %flex-center;
                        list-style: none;
                        .link-cont-rrss{
                            height: 400px;
                            width: 100%;
                            @extend %flex-center-evenly;
                            flex-direction: column;
                            .titulo-rrss{
                                height: 70px;
                                width: 200px;
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                flex-direction: row;
                                background-color: rgba(224, 170, 119, 0.3);
                                h2{
                                    font-size: 15px;
                                    height: 70px;
                                    width: 200px;
                                    display: flex;
                                    justify-content: space-around;
                                    align-items: center;
                                    flex-direction: row;
                                    background-color: rgba(224, 170, 119, 0.3);
                                }
                            }
                        }
                        
                    }
    
                }
                
            }
        }
    }
}
