main{
    .article{
        .section-sob-uno{
            height: 100%;
            width: 100%;
            margin-top: 60px;
            margin-block-end: 80px;
            @extend %flex-center;
            .presentacion{
                width: 100%;
                height: 100%;
                padding: 0px;
                @extend %flex-center;
                .video-sob{
                    height: 100%;
                    padding: 0px;
                    padding-left: 20px;
                    padding-right: 20px;
                    @extend %flex-center;
                    .video{
                        height: 350px;
                        width: 600px;
                    }
                }
                .contenido-sob{
                    height: 100%;
                    padding-left: 30px;
                    padding-right: 30px;
                    margin-top: 30px;
                    @extend %flex-center;
                    flex-direction: column;
                    text-align: center;
                    .titulo-sob{
                        height: 100%;
                        width: 100%;
                        padding-inline-end: 15px;
                        padding-inline-start: 15px;
                        @extend %flex-center;
                        .h1-sb{
                            height: 40px;
                            width: 400px;
                            font-size: 30px;
                            color: #8a540f;
                            @extend %flex-center;
                            text-align: center;
                        }
                    }
                    .parrafo-sob{
                        height: 100%;
                        width: 100%;
                        @extend %flex-center;
                        flex-direction: column;
                        .p-sb-1{
                            height: 100%;
                            width: 100%;
                            font-size: 20px;
                            padding: 0px;
                            margin: 0px;
                            margin-top: 20px;
                            margin-block-end: 15px;
                            color: rgba(23, 33, 90, 0.8);
                            @extend %flex-center;
                            text-align: center;
                        }
                        .p-sb-2{
                            height: 100%;
                            width: 100%;
                            padding: 0px;
                            margin: 0px;
                            margin-block-end: 30px;
                            font-size: 20px;
                            color: rgba(23, 33, 90, 0.8);
                            @extend %flex-center;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .section-sob-dos{
            height: 100%;
            width: 100%;
            margin-block-end: 40px;
            @extend %flex-center-evenly;
            flex-direction: column;
            background-color: rgba(53, 79, 153, 0.1);
            .titulo-ent-sob{
                height: 100px;
                width: 100%;
                @extend %flex-center;
                .h2-entrevistas{
                    height: 100px;
                    width: 100%;
                    font-size: 25px;
                    @extend %flex-center;
                }
            }
            .entrevistas{
                height: 100%;
                width: 100%;
                @extend %flex-center;
                flex-direction: row;
                .entrevista{
                    height: 100%;
                    margin-block-end: 20px;
                    @extend %flex-center;
                    @extend .estilo-entrevistas;
                }
            }
        }
    }
}



  