main{
    .article-sb{
        height: 100%;
        width: 100%;
        @extend %flex-center;
        flex-direction: column;
        .section-sob-uno{
            height: 470px;
            width: 100%;
            @extend %flex-center;
            flex-direction: column;
            .video-sob{
                height: 100%;
                width: 50%;
                @extend %flex-center;
                iframe{
                    height: 270px;
                    width: 450px;
                }
            }
            .contenido-sob{
                height: 370px;
                width: 50%;
                @extend %flex-center;
                flex-direction: column;
                text-align: center;
                .titulo-sob{
                    height: 50px;
                    width: 450px;
                    @extend %flex-center;
                    .h1-sb{
                        height: 40px;
                        width: 400px;
                        font-size: 30px;
                        color: rgba(23, 37, 117, 0.3);
                        @extend %flex-center;
                        text-align: center;
                    }
                }
                .parrafo-sob{
                    height: 300px;
                    width: 490px;
                    @extend %flex-center;
                    flex-direction: column;
                    .p-1{
                        height: 230px;
                        width: 450px;
                        font-size: 20px;
                        color: rgba(23, 33, 90, 0.8);
                        @extend %flex-center;
                        text-align: center;
                    }
                    .p-2{
                        height: 70px;
                        width: 450px;
                        font-size: 20px;
                        color: rgba(23, 33, 90, 0.8);
                        @extend %flex-center;
                        text-align: center;
                    }
                }
            }
        }
        .section-sob-dos{
            height: 300px;
            width: 100%;
            @extend %flex-center-evenly;
            flex-direction: row;
            background-color: rgba(53, 79, 153, 0.1);
            .titulo-ent-sob{
                height: 100px;
                width: 100%;
                @extend %flex-center;
                .h2-entrevistas{
                    height: 100px;
                    width: 100%;
                    font-size: 25px;
                    @extend %flex-center;
                }
            }
            .entrevistas{
                height: 100%px;
                width: 100%;
                @extend %flex-center;
                flex-direction: row;
                .entrevistas__cadena3{
                    height: 100%;
                    width: 100%;
                    @extend %flex-center;
                    @extend .estilo-entrevistas;
                }
                .entrevistas__canal-doce{
                    height: 100%;
                    width: 100%;
                    @extend %flex-center;
                    @extend .estilo-entrevistas;
                }
                .entrevistas__la-voz{
                    height: 100%;
                    width: 100%;
                    @extend %flex-center;
                    @extend .estilo-entrevistas;
                }
                .entrevistas__infobae{
                    height: 100%;
                    width: 100%;
                    @extend %flex-center;
                    @extend .estilo-entrevistas;
                }
                .entrevistas__showsport{
                    height: 100%;
                    width: 100%;
                    @extend %flex-center;
                    @extend .estilo-entrevistas;
                }
            }
        }
    }
}



  