@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: none;
    /*background: linear-gradient(to left/45deg, rgba(231, 135, 9, 0.767),rgba(139, 110, 14, 0.918))
    background-image: radial-gradient(red,yellow)*/
}    
h1{
    font-size: 30px;
}

